/*
 Theme Name: storefront-child
 Theme URI: http://duplika.com
 Description: Esto es un Child storefron
 Author: David Lopez
 Author URI: http://deboraorue.com
 Template: storefront
 Version: 0.1
*/
/*@import url("../storefront/style.css");*/
/* =Aquí comienza la personalización del tema
------------------------------------------------------- */
#filtro, #top {
    cursor: pointer
}

.block-reassurance-item img {
    height: 25px;
    margin: 0 11px 0 0
}

#block-reassurance {
    background: #fff
}

#block-reassurance ul {
    list-style: none;
    margin: 0
}

div#full {
    width: 100%
}

.white .entry-content {
    background: #fff;
    margin: 20px 0;
    padding: 15px;
    border: 1px solid rgba(221, 221, 221, .59)
}

tr.cart-subtotal td, tr.order-total td {
    text-align: right !important;
    border-bottom: 1px solid #ddd
}

#barraaceptacion, #login + #post h1, .categorias h2, .onsale, header#login h1 {
    text-align: center
}

h2 + h3 {
    border: none
}

.block-reassurance-item {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 10px 15px
}

img.attachment-full.size-full.wp-post-image {
    width: 100%;
    max-width: 89.141em
}

.post-2 header.entry-header {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%
}

.spinner {
    float: right;
    width: 25px
}

#barraaceptacion {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 12px;
    width: 100%;
    min-height: 40px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    z-index: 99999
}

#barraaceptacion .inner {
    width: 100%;
    padding-left: 5px;
    font-family: verdana;
    font-size: 12px;
    top: 30%
}

.inner a.ok {
    padding: 4px;
    color: #e91e63;
    text-decoration: none;
    background: rgba(255, 255, 255, .51);
    border-radius: 5px
}

.aws-container .aws-search-form:after {
    position: absolute;
    content: '';
    background: url(assets/loading-spin2.svg) 50% 50% no-repeat;
    width: 27px;
    height: 25px;
    right: 10px;
    top: 45%;
    margin-top: -10px;
    z-index: 999;
    display: none
}

.aws-container .aws-search-field {
    background: url(assets/search.svg) 2.5% 50% no-repeat #fff;
    border-radius: 3px !important;
    font-size: 16px;
    font-style: italic;
    padding-left: 47px
}

.aws-search-result .aws_result_title {
    color: #444
}

.aws-container {
    width: 53%;
    float: right;
    margin-top: 15px
}

.aws-container .aws-search-form {
    overflow: auto;
    margin-top: 0;
    margin-bottom: 0
}

.inner a.info {
    padding-left: 5px;
    text-decoration: none;
    color: #eee
}

#carta img {
    width: 50px
}

.msgcookie {
    z-index: 9999;
    display: block;
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    width: 180px;
    margin: 10px;
    border-radius: 4px
}

.msgcookie p {
    margin: 0 auto;
    padding: 10px;
    line-height: 20px;
    font-size: 12px
}

.msgcookie p a:active, .msgcookie p a:hover, .msgcookie p a:link, .msgcookie p a:visited {
    color: #fff;
    font-size: 12px
}

.msgcookie a.close {
    float: right;
    display: block;
    width: 16px;
    height: 55px;
    background: url(assets/cookie.png) 0 -50px no-repeat;
    overflow: hidden;
    text-indent: -89px;
    opacity: .5
}

a.close:hover {
    opacity: 1
}

#custom-form-total > table > tbody > tr:nth-child(2) > td > input.button {
    display: none !important
}

.categorias {
    overflow: hidden
}

.categorias p {
    margin: 0
}

.categorias div {
    width: 24%;
    float: left;
    position: relative;
    margin: .5%
}

.categorias img {
    width: 100%
}

.categorias h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
    border: none;
    background: rgba(44, 45, 51, .5);
    margin: 0;
    padding: 10px 0
}

#login + #post h1, .gamma, .onsale, .titulo, a, h1 a, h2, h2 a, h3, h3 a, h4 a, h5 a, h6 a, label, p {
    font-weight: 400
}

.master-slider-parent {
    min-height: 400px;
    background: url(https://entrecimas.com/wp-content/plugins/woocommerce-products-filter/img/loading-master/loading-spin.svg) center no-repeat
}

#right .button:first-child, .simple-theme.woocommerce-products-carousel-all-in-one .woocommerce-products-carousel-all-in-one-buttons a, input[name=apply_coupon], input[name=update_cart] {
    background: #fff !important;
    border: 2px solid #666;
    color: #666 !important;
    box-shadow: none;
    border-radius: 4px;
    text-transform: capitalize !important;
    font-size: 1em !important
}

.simple-theme.woocommerce-products-carousel-all-in-one .woocommerce-products-carousel-all-in-one-buttons a:hover, input[name=apply_coupon]:hover, input[name=update_cart]:hover {
    border: 2px solid #666;
    border-radius: 4px;
    background: #ddd !important
}

a, label {
    color: #2c2d33
}

.titulo, h2 {
    color: #43454b;
    font-size: 1.5em;
    margin-top: 20px;
    background: #fff;
    padding: 15px;
    margin-bottom: .2em;
    border: 1px solid rgba(221, 221, 221, .48)
}

a, label, p {
    font-size: .85rem
}

.added_to_cart:focus, .button:focus, a:focus, button:focus, input[type=button]:focus, input[type=reset]:focus, input[type=submit]:focus {
    outline: 0
}

.input-text, input[type=email], input[type=password], input[type=search], input[type=text], input[type=url], textarea {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: none;
    border-radius: 4px
}

.site-header ul.menu li.current-menu-item > a {
    color: #43454b !important
}

.xoo-wl-success {
    background: #4CAF50 !important;
    color: #fff !important;
    border-radius: 4px;
    padding: 10px 2em !important;
    margin: 0 !important;
    border: none !important
}

.xoo-wl-submit {
    background-color: #ff8900 !important;
    border: none !important
}

a.xoo-wl-btn.button {
    background: #ff8900;
    margin-top: 20px
}

.xoo-wl:before {
    color: #fff
}

.xoowl-cross:before {
    color: #F44336
}

#top, .fa-arrow-up:before, .onsale, header#login h1 {
    color: #fff
}

.xoo-wl {
    margin: 5px
}

.xoo-wl-inmodal {
    border: none
}

.site-header {
    background: #f5f5f5;
    border-bottom: 3px solid #dbdbdb;
    padding: 14px 0
}

.logo {
    overflow: auto;
    float: left;
    width: 47%;
    margin-bottom: 10px
}

.logo img#letras-logo {
    line-height: 100px;
    margin: 20px 0 0 2%;
    float: left;
    width: 66%
}

.logo #img-logo {
    float: left;
    width: 80px;
    margin-left: 6px
}

.site-header .site-branding {
    display: none
}

.dgwt-wcas-sf-wrapp {
    border-radius: 5px
}

ul.products li.product .onsale {
    left: 0;
    position: absolute;
    top: 0
}

.added_to_cart, .added_to_cart.alt, .button.alt, .pagination .page-numbers li .page-numbers.current, .simple-theme.woocommerce-products-carousel-all-in-one .woocommerce-products-carousel-all-in-one-buttons a, .widget a.button.checkout, .widget-area .widget a.button.alt, .widget_shopping_cart .buttons .button:nth-child(odd), .woocommerce-pagination .page-numbers li .page-numbers.current, button.alt, input[type=button].alt, input[type=reset].alt, input[type=submit].alt {
    position: relative;
    overflow: hidden
}

.buttons a {
    padding: 10px !important;
    margin: 10px !important
}

.button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.onsale, header#login, header#login h1 {
    background: #ff8900
}

.button:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width .2s ease-out, padding-top .2s ease-out
}

.onsale {
    border: none;
    position: absolute;
    font-size: 11px;
    left: 0;
    margin: 10px
}

.variation_buttons_wrapper .variation_button {
    margin-right: 2% !important
}

.single-product div.product .variations_button {
    float: left;
    padding: 0;
    width: 100%
}

#pass-strength-result, p.description.indicator-hint {
    display: none
}

header#login {
    height: 150px
}

header#login h1 {
    line-height: 82px;
    margin: 0;
    display: none
}

.tml-lostpassword, .tml-resetpass, div#theme-my-login {
    width: 30em;
    padding: 15px;
    margin: auto;
    background: #fff;
    box-shadow: rgba(0, 0, 0, .3) 0 1px 3px;
    border-radius: 0 0 5px 5px
}

#login + #post h1 {
    box-shadow: rgba(0, 0, 0, .3) 0 1px 3px;
    margin: -45px auto 0;
    background: #fff;
    width: 30rem;
    color: #43454b;
    line-height: 80px;
    border-radius: 5px 5px 0 0;
    padding: 0;
    font-size: 1.7em;
    letter-spacing: 1px
}

p.error, p.message {
    padding: 12px;
    margin-left: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1)
}

#lostpasswordform input, #resetpassform input, .tml-login input[type=password], .tml-login input[type=submit], .tml-login input[type=text] {
    width: 100%;
    font-size: .99rem;
    border-radius: 4px
}

#registerform input[type=password], #registerform input[type=submit], #registerform input[type=text] {
    width: 100%;
    border-radius: 4px
}

p.message {
    background: #fff;
    border-left: 4px solid #007bd2
}

p.error {
    border-left: 4px solid #F44336;
    background-color: #fff
}

.wp-social-login-provider-list a {
    background: #3b5998;
    display: block;
    line-height: 20px;
    line-height: 40px;
    color: #fff;
    position: relative;
    text-align: center;
    border-radius: 4px
}

.wp-social-login-provider-list {
    padding: 10px 0
}

.wp-social-login-provider-list a:before {
    content: "\f09a";
    font-family: FontAwesome;
    left: 13px;
    position: absolute;
    top: 0
}

.main-navigation ul.menu > li.menu-item-has-children > a:after, .main-navigation ul.menu > li.page_item_has_children > a:after, .main-navigation ul.nav-menu > li.menu-item-has-children > a:after, .main-navigation ul.nav-menu > li.page_item_has_children > a:after {
    display: inline-block;
    font: normal normal normal 1em/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f107";
    margin: 4px 0 0 1em;
    float: right
}

a {
    box-shadow: none !important
}

#top {
    text-align: right;
    float: right;
    margin: 10px 20px;
    background: rgba(0, 0, 0, .29);
    padding: 10px 15px;
    position: fixed;
    right: 0;
    bottom: 53px;
    border-radius: 4px;
    z-index: 99999999
}

.hide {
    display: none
}

.show {
    display: block
}

#main > div > div.woocommerce.woocommerce-page.woof_shortcode_output > div.storefront-sorting > form, #woof_results_by_ajax > div > div:nth-child(1) > nav, #woof_results_by_ajax > div > div:nth-child(3) > form, #woof_results_by_ajax > nav, .post-2 > header > h1 {
    display: none
}

.woocommerce-pagination .page-numbers {
    list-style: none;
    margin: 1%
}

.pagination, .woocommerce-pagination {
    width: 100%;
    margin-top: 20px;
    background: #fff;
    border: 1px solid rgba(221, 221, 221, .67)
}

.pagination .page-numbers li .page-numbers.current, .woocommerce-pagination .page-numbers li .page-numbers.current {
    background-color: #ff8900
}

.woof_products_top_panel li span {
    font-weight: 400;
    font-size: .88em;
    font-style: italic
}

#pa_talla_buttons a {
    font-weight: 400;
    font-size: .9em;
    margin-bottom: 10px
}

.alpha, h1 {
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 1.4em;
    margin: 0 0 20px;
    line-height: 40px;
    background: #fff;
    padding: 5px 2%;
    border-radius: 4px;
    color: #3d3d3d;
    border: 1px solid rgba(221, 221, 221, .61)
}

.cart-redirect a {
    color: #fff
}

.cart-redirect {
    padding: 10px 10%;
    background: #ff8900;
    float: left;
    margin-left: 3%
}

a.reset_variations {
    font-size: 13px;
    font-weight: 400;
    margin-left: 0
}

* {
    font-family: 'Open Sans', arial, sans-serif
}

.single-product div.product .price {
    font-weight: 700;
    color: #ff8900;
    margin: 0;
    font-size: 1.6em
}

.single-product div.product form.cart {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    margin: 0;
    padding: 20px 0
}

.out-of-stock, .stock {
    display: block;
    margin-bottom: 20px
}

.simple-theme.woocommerce-products-carousel-all-in-one .woocommerce-products-carousel-all-in-one-sale {
    background: #ff8900 !important
}

.stock span {
    color: #ff8900
}

.out-of-stock span {
    color: red;
    margin-bottom: 10px
}

label {
    color: #4c4c4c;
    line-height: 1.5;
    font-size: .9rem
}

ul.products li.product .price {
    font-size: 1rem;
    color: #ff8900;
    font-weight: 700
}

.wysija-paragraph label {
    color: #ddd;
    margin-top: 10px
}

.form-validation-field-0formError {
    opacity: .87;
    position: initial !important;
    top: 20px;
    margin-top: 0 !important
}

.widget_wysija_cont .formError .formErrorArrow {
    display: none
}

.formError .formErrorContent {
    background: #F44336;
    margin-bottom: 5px
}

form#form-wysija-3 * {
    width: 100%
}

form#form-wysija-3 .wysija-submit {
    background: #ff8900
}

.copy {
    float: left
}

.compartir {
    overflow: auto;
    padding: 10px 0
}

.compartir a {
    float: left;
    margin-right: 10px;
    display: block;
    padding: 10px;
    color: rgba(67, 69, 75, .45);
    font-size: 18px;
    border-radius: 4px;
    width: 40px;
    text-align: center;
    background: rgba(221, 221, 221, .65);
    border: 1px solid #ccc
}

.woocommerce-result-count, .woocommerce-tabs .panel h2:first-of-type, .woocommerce-tabs ul.tabs li.active:after {
    display: none
}

.tuiter {
    background: #00acee
}

.g {
    background: #F44336
}

.face {
    background: #3b5998
}

.wasas {
    background: #2eb344
}

#order_review, #payment .payment_methods > li .payment_box {
    background-color: #f6f6f6
}

#payment .payment_methods > li, .payment_box.payment_method_bacs {
    background-color: #fff !important
}

.pagos img {
    float: left;
    width: 45px;
    margin-right: 5px
}

.pagos {
    float: right
}

.woocommerce-MyAccount-content {
    background: #fff;
    padding: 15px 20px;
    min-height: 400px;
    border: 1px solid rgba(221, 221, 221, .56)
}

img.wp-image-556.aligncenter {
    width: 100%
}

.woocommerce-order-details table {
    border: 1px solid #ddd
}

.woocommerce-MyAccount-content h2 {
    font-size: 1.6em;
    font-weight: 300;
    background: #f6f6f6;
    margin: 0
}

.woocommerce-order-details table td, .woocommerce-order-details tbody table th {
    background: #fff;
    color: #666 !important;
    padding: 5px 10px;
    border: 1px solid #ddd
}

table.shop_table_responsive tr.shipping td:before {
    content: close-quote
}

.woocommerce-ordering, table tbody tr:nth-child(2n) td {
    background: #fff
}

.woocommerce-customer-details table tbody th, .woocommerce-order-details table tfoot th {
    background: #fff;
    color: #666 !important;
    border: 1px solid #ddd
}

.pre-footer {
    background: #ff8900;
    overflow: auto;
    margin-top: 20px
}

.pre-footer i {
    font-size: 3em
}

.pre-footer p {
    font-size: .8rem
}

.pre-footer .caja {
    float: left;
    border-radius: 5px;
    margin: 2%;
    width: 20%;
    text-align: center;
    padding: 15px 0;
    color: #ededed
}

.woocommerce-tabs ul.tabs {
    width: 100%;
    border: none;
    border-bottom: 1px solid #e8e8e8;
    margin: 0;
    overflow: auto
}

.tabs .active {
    border-bottom: 2px solid #ff8900 !important
}

.woocommerce-tabs ul.tabs li {
    border-bottom: none;
    float: left;
    padding: 0 3%
}

.woocommerce-tabs ul.tabs li.active a {
    color: #444
}

.woocommerce-tabs .panel {
    width: 100%;
    padding: 2%
}

.site-branding .site-description, .site-branding .site-title a, table caption {
    color: #fff
}

.woocommerce-active .site-header .site-search {
    width: 58.73913%
}

.site-search .widget_product_search input[type=search], .site-search .widget_product_search input[type=text] {
    padding: 1em 3.618em;
    line-height: 1;
    background: #fff
}

.site-search .widget_product_search form:before {
    top: 1.1575em;
    left: 1.618em
}

.woocommerce-pagination .page-numbers li .page-numbers.current {
    overflow: initial;
    box-shadow: none
}

.woof_products_top_panel {
    margin: 18px 0 5px;
    clear: both;
    background: #fff;
    border: 1px solid rgba(221, 221, 221, .58);
    padding: 0 10px
}

.storefront-sorting select {
    width: auto;
    background: #fff;
    padding: 10px 1%;
    font-size: 13px;
    border: 1px solid rgba(221, 221, 221, .67)
}

.widget {
    margin: 0
}

#topBar {
    background: #ff8900
}

#social a, .textwidget span {
    margin: 10px;
    color: #fff
}

.textwidget span {
    font-size: .9em
}

#social {
    padding: 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .025)
}

.site-header-cart .cart-contents {
    padding: 6px 0
}

#menu-topmenu a {
    color: #fff;
    font-weight: 400
}

.fa-user:before {
    content: "\f007";
    color: #fff
}

.menu-topmenu-container {
    width: 50%;
    float: right;
    padding: 5px 0;
    text-align: right
}

.menu-topmenu-container ul {
    margin: 5px
}

.menu-topmenu-container ul li {
    list-style: none
}

.menu-topmenu-container ul li a {
    padding: 10px
}

.main-navigation ul li a {
    color: #43454b;
    font-weight: 400
}

.site-header-cart .cart-contents .amount {
    color: #eee;
    font-weight: 400;
    font-size: .9rem;
    float: right;
    padding: 8px 0
}

.woocommerce-error {
    background-color: #F44336
}

.woocommerce-error a:hover, .woocommerce-info a:hover, .woocommerce-message a:hover, .woocommerce-noreviews a:hover, p.no-comments a:hover {
    color: #43454b;
    opacity: .7
}

.woocommerce-info {
    border-left: 4px solid #007bd2 !important
}

.woocommerce-thankyou-order-received {
    border-left: 4px solid #4CAF50 !important
}

.woocommerce-error a, .woocommerce-info a, .woocommerce-message a, .woocommerce-noreviews a, p.no-comments a {
    color: #43454b
}

.woocommerce-info, .woocommerce-message, .woocommerce-noreviews, .woocommerce-thankyou-order-received, p.no-comments {
    color: #43454b;
    padding: 12px;
    background-color: #fff;
    margin-bottom: 1em;
    border: 1px solid rgba(221, 221, 221, .61)
}

.checkout_coupon, .woocommerce-form-login {
    margin-bottom: 15px;
    padding: 15px;
    background: #fff;
    border: 1px solid rgba(221, 221, 221, .61);
    display: flex;
    flex-direction: column;
    align-items: center
}

.page-template-template-fullwidth-php .form-row-first {
    margin-right: 0
}

.site-header-cart .cart-contents .count {
    opacity: 1;
    padding: 11px 10px 0 3px;
    border-radius: 5px 0 0 5px;
    float: right
}

span.count > span {
    margin-left: 10px
}

span.separate {
    clear: both;
    overflow: auto;
    color: rgba(232, 232, 232, .31);
    margin: 0 10px 0 17px
}

.storefront-hamburger-menu-active .site-header-cart .cart-contents {
    right: 0 !important
}

.site-header-cart .cart-contents:after {
    display: inline-block;
    font: normal normal normal 1em/1 FontAwesome;
    content: "\f291";
    padding: 12px 8px;
    border-radius: 17px;
    float: none
}

#right {
    float: right
}

.micuenta {
    border-right: 1px solid rgba(237, 237, 237, .33);
    padding-right: 15px
}

#right a {
    color: #fff;
    font-weight: 400;
    text-transform: capitalize
}

.cart-contents {
    padding: 6px
}

ul#site-header-cart {
    float: right;
    margin: 0
}

.fa-user:before {
    margin-right: 10px
}

span.fa.fa-user {
    line-height: 49px
}

.woocommerce-form-login .form-row {
    width: 47.8%
}

.woocommerce-form-login input[type=submit] {
    width: 100%
}

.woocommerce-form-login input[type=submit], a.button.wc-forward {
    text-align: center;
    margin: 0;
    border-radius: 5px;
    box-shadow: none;
    background: #ff8900;
    padding: 10px
}

.woocommerce-error .button:hover, .woocommerce-info .button:hover, .woocommerce-message .button:hover, .woocommerce-noreviews .button:hover, p.no-comments .button:hover {
    background: #444;
    color: #e8e8e8
}

.home.blog .site-header, .home.page:not(.page-template-template-homepage) .site-header, .home.post-type-archive-product .site-header, .no-wc-breadcrumb .site-header {
    margin-bottom: 0
}

.storefront-full-width-content .content-area {
    margin: -22px 0
}

#filtro, #woof_results_by_ajax .storefront-sorting #filtro {
    display: none
}

ul.products {
    margin-top: 0;
    background: #fff;
    border: 1px solid rgba(221, 221, 221, .61);
    padding: 15px
}

site-branding .site-title {
    margin: 0 43px
}

.woof_list_label .woof_label_term {
    padding: 0 4px
}

.main-navigation ul li a:hover, .main-navigation ul li:hover > a {
    color: red;
    background: #f0f0f0
}

.main-navigation ul.menu > li > a, .main-navigation ul.nav-menu > li > a {
    color: #43454b;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .9rem
}

.storefront-hamburger-menu-active .shm-close {
    background-color: #ff8900;
    color: #fff;
    z-index: 9999999999
}

#site-header-cart > li:nth-child(2) > div {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height .5s ease;
    -moz-transition: max-height .5s ease;
    -o-transition: max-height .5s ease;
    transition: max-height 1s ease
}

.woocommerce h1 {
    visibility: hidden;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0
}

#site-header-cart:hover li:nth-child(2) > div {
    height: auto;
    max-height: 1000px;
    box-shadow: 1px 1px 2px #ccc
}

.main-navigation ul ul, .secondary-navigation ul {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height .5s ease;
    -moz-transition: max-height .5s ease;
    -o-transition: max-height .5s ease;
    transition: max-height .5s ease
}

.main-navigation ul > li:hover ul {
    max-height: 1150px
}

.main-navigation ul.menu ul li a, .main-navigation ul.nav-menu ul li a {
    padding: .4em 0;
    width: 100%;
    color: #43454b
}

#login div {
    text-align: center;
    margin: auto
}

#login div img {
    width: 100px;
    margin: auto;
    padding-top: 15px
}

.main-navigation ul.menu ul a:hover, .main-navigation ul.menu ul li:hover > a, .main-navigation ul.nav-menu ul a:hover, .main-navigation ul.nav-menu ul li:hover > a {
    color: #ff8900;
    background: 0 0
}

.login-hook .face, .login-hook .google {
    color: #fff;
    border-radius: 3px;
    margin-right: 10px
}

.face, .google, img {
    opacity: 1;
    -webkit-transition: opacity 40ms ease;
    -moz-transition: opacity 40ms ease;
    -o-transition: opacity 40ms ease;
    transition: opacity .4s ease
}

.face:hover, .google:hover, img:hover {
    opacity: .6
}

.login-hook .face {
    background: #3b5998;
    padding: 10px 15px
}

.login-hook .google {
    background: #e02f2f;
    padding: 10px 13px
}

#logo-link, .login-checkout, .login-hook {
    overflow: auto;
    margin-bottom: 17px
}

#logo-link img, .login-checkout img, .login-hook img {
    float: left;
    margin-right: 15px
}

.product_title {
    visibility: visible !important;
    line-height: 30px !important;
    font-size: 1.4em !important;
    background: 0 0;
    border: none !important
}

#filtro {
    background: #666;
    padding: 10px 2%;
    float: right;
    border-radius: 4px;
    color: #f4f4f4;
    margin: 10px 2% 0 0;
    position: relative;
    z-index: 999
}

span.share {
    float: left;
    line-height: 38px;
    margin-right: 10px;
    font-size: 15px;
    width: 140px
}

.single-product div.product form.cart .button {
    float: left;
    box-shadow: none;
    width: 58%;
    margin-top: 10px;
    border-radius: 5px
}

.wp-image-556 {
    width: 100%
}

.single-product div.product form.cart .quantity {
    float: left;
    margin: 10px 0;
    width: 42%
}

.quantity .qty {
    border-radius: 0;
    height: 45px;
    width: 38%
}

input.minus, input.plus {
    background: #e8e8e8;
    box-shadow: none;
    color: #43454b;
    padding: 0;
    width: 25%;
    height: 45px
}

.woocommerce-message {
    border-left: .6180469716em solid #4caf50
}

.woocommerce-message .button {
    padding: 0 0 0 1em
}

#payment .payment_methods li input[type=radio]:first-child:checked + label:before, .quantity .minus, .quantity .plus, .star-rating span:before, p.stars a:after, p.stars a:hover:after {
    color: #43454b
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    background: #fff;
    border-radius: 5px
}

.woocommerce-MyAccount-navigation ul a {
    color: #ededed;
    font-weight: 400
}

.storefront-hamburger-menu-active .main-navigation.toggled .handheld-navigation, .storefront-hamburger-menu-active .main-navigation.toggled div.menu {
    margin: 0;
    padding: 0
}

.woocommerce-MyAccount-navigation ul {
    margin-left: 0;
    border-top: 1px solid rgba(0, 0, 0, .05);
    background: #3d3d3d;
    padding: 0 15px;
    color: #fff;
    border-radius: 5px
}

.storefront-handheld-footer-bar ul.columns-5 li.cart {
    padding-right: 7px
}

.storefront-sorting {
    margin-bottom: 0
}

.storefront-handheld-footer-bar ul li > a {
    height: 3.5801em;
    border-left: 1px solid #f6f6f6;
    border-right: 0;
    background: 0 0
}

.storefront-handheld-footer-bar ul li.cart .count {
    background-color: #ff8900;
    color: #fff
}

.storefront-handheld-footer-bar {
    background: #fff;
    border-top: 7px solid #FF8900;
    top: 0;
    bottom: auto;
    box-shadow: 0 0 1px rgba(0, 0, 0, .3)
}

.storefront-handheld-footer-bar ul li > a:before {
    font-size: 1.4em;
    color: rgba(67, 69, 75, .99)
}

.storefront-handheld-footer-bar ul li.iniLogo {
    float: left !important;
    margin-left: 42px;
    line-height: 47px;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, .86);
    text-align: left
}

.storefront-handheld-footer-bar ul.columns-5 li {
    width: 15%;
    float: right
}

.storefront-handheld-footer-bar ul li.search.active .site-search {
    bottom: -4.9em;
    z-index: 99999;
    left: 0
}

.storefront-handheld-footer-bar ul li.search .site-search {
    bottom: -4.9em;
    left: 140em
}

footer a {
    color: #2c2d33;
    font-weight: 100;
    font-size: 13px
}

.site-footer a:not(.button) {
    color: #bbb
}

.site-footer {
    background-color: rgba(0, 0, 0, .8);
    color: rgba(240, 240, 240, .88)
}

.widget_nav_menu ul li:before {
    content: no-close-quote
}

.widget .widget-title, .widget .widgettitle {
    border-bottom: 1px solid #43454b;
    padding: 0 0 .4em
}

ul.products li.product h2, ul.products li.product h3 {
    font-size: 1em;
    overflow: hidden;
    color: #43454b;
    padding: 0 5px;
    border: none
}

.dgwt-wcas-search-wrapp {
    max-width: 560px;
    width: 51%;
    float: right;
    margin: 15px 0
}

@media (max-width: 425px) {
    a.button.wc-forward {
        width: 100%;
        margin-bottom: 12px
    }

    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
        margin: 3px 1%;
        width: 48%;
        float: left
    }

    .col-full {
        margin-left: 1em;
        margin-right: 1em
    }

    .woocommerce ul.products li.product:last-child, .woocommerce-page ul.products li.product:last-child {
        margin: 0 !important
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
        margin: 0 2.8% 2.992em 0;
        width: 32% !important;
        float: left
    }

    li.product:nth-child(3n+3) {
        margin-right: 0 !important
    }
}

.woocommerce-ordering {
    margin: 0 15px 5px 0;
    padding: 10px;
    width: 100%;
    z-index: 88;
    border: 1px solid rgba(221, 221, 221, .58)
}

@media (min-width: 426px) {
    .woocommerce.woocommerce-page.woof_shortcode_output {
        border-radius: 3px
    }

    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
        margin: 0 2% 11px 0;
        width: 23.5%;
        float: left;
        background: #fff
    }
}

.hentry .wp-post-image {
    margin-bottom: 1em
}

dl.variation, dl.variation dd {
    margin: 0
}

@media (max-width: 767px) {
    .hentry {
        margin: 54px 0 4.235801032em !important;
    }
    td.product-name, tr.shipping > td {
        text-align: left !important
    }

    table.shop_table_responsive tr td.product-name:before {
        content: close-quote
    }

    table.cart td, table.cart th {
        padding: 5px
    }

    table.shop_table_responsive tr td {
        display: table-cell
    }

    .woocommerce-breadcrumb, td.product-name, td.product-price, td.product-quantity, td.product-subtotal {
        display: block !important
    }

    table.woocommerce-MyAccount-orders td {
        display: block !important;
        background: 0 0
    }

    table.woocommerce-MyAccount-orders td:nth-child(1) {
        background: #666 !important;
        color: #ddd !important
    }

    table.woocommerce-MyAccount-orders td:nth-child(1) a {
        color: #ddd !important
    }

    .woocommerce-breadcrumb {
        border: 1px solid #eee;
        margin-top: 53px;
        font-size: .8em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap
    }

    .main-navigation ul ul li, .main-navigation ul.menu ul.sub-menu, .main-navigation ul.nav-menu ul.children, .secondary-navigation ul ul li, .site-header-cart .widget_shopping_cart, button.menu-toggle, button.menu-toggle:hover, ul.products {
        border: none
    }

    .woocommerce-breadcrumb a {
        font-size: .9em;
        text-decoration: none
    }

    ul.products {
        background: #f6f6f6;
        padding: 0
    }

    .woocommerce-message {
        display: flex;
        flex-direction: column
    }

    .woocommerce-message a {
        order: 2;
        margin-top: 15px
    }

    .checkout_coupon .form-row, .checkout_coupon input[type=submit], .woocommerce-form-login .form-row {
        width: 100%
    }

    table.cart td.actions input {
        display: block;
        width: 90%;
        margin: .5407911001em auto
    }

    .categorias div {
        width: 49%
    }

    .master-slider-parent {
        min-height: 200px;
        background: url(https://entrecimas.com/wp-content/plugins/woocommerce-products-filter/img/loading-master/loading-spin.svg) center no-repeat
    }

    .myaccount a:before {
        content: "\f007"
    }

    .fa-user:before {
        color: rgba(67, 69, 75, .82)
    }

    .main-navigation ul.menu ul li:hover > a {
        background: rgba(204, 204, 204, .57) !important;
        color: #43454b !important
    }

    .main-navigation ul.menu ul a:hover, .main-navigation ul.menu ul li:hover > a, .main-navigation ul.nav-menu ul a:hover, .main-navigation ul.nav-menu ul li:hover > a {
        color: #ff8900;
        background: 0 0
    }

    .storefront-hamburger-menu-active .main-navigation .handheld-navigation > ul, .storefront-hamburger-menu-active .main-navigation div.menu > ul {
        margin-top: 0
    }

    .logo-movile {
        overflow: auto;
        float: left;
        width: 112px
    }

    #masthead > div > div.aws-container, #topBar, .logo, .main-navigation ul li a:before, span.share {
        display: none
    }

    #filtro, button.menu-toggle {
        display: block !important
    }

    #img-logo-movile {
        width: 47px;
        margin-top: 4px
    }

    header#login h1 {
        margin: -47px 0
    }

    .borde > ul > li {
        max-height: 100px !important;
        width: 100% !important
    }

    .borde > a {
        background: #ccc;
        margin: 0;
        padding: 0 18px !important
    }

    .single-product div.product form.cart .quantity {
        float: left;
        margin: 10px 0;
        width: 100%
    }

    .site-header {
        height: 0;
        margin: 0;
        padding: 0
    }

    .main-navigation ul > li:hover ul li {
        max-height: 0
    }

    .aws-container {
        width: 100%;
        margin: 0
    }

    .storefront-handheld-footer-bar .dgwt-wcas-sf-wrapp {
        display: block
    }

    .storefront-handheld-footer-bar ul li.search .site-search {
        width: 100%;
        background: #2c2d33
    }

    .single-product div.product form.cart .button {
        width: 100%
    }

    input.minus, input.plus {
        width: 24%
    }

    .quantity .qty {
        width: 47%;
        height: 2.77rem
    }

    .tml-lostpassword, .tml-resetpass, div#theme-my-login, header#login h1 {
        width: 95%
    }

    #login + #post h1, #post-179 h1, #post-181 h1, #post-182 h1, #post-525 h1, #post-527 h1, #post-528 h1, #post-529 h1 {
        width: 95%;
        font-size: 1.2em
    }

    .site-header .custom-logo-link, .site-header .site-branding, .site-header .site-logo-anchor, .site-header .site-logo-link {
        margin-bottom: 15px;
        margin-left: 80px;
        font-family: sans-serif
    }

    .main-navigation ul ul {
        margin-left: 0
    }

    .main-navigation ul.menu ul li a, .main-navigation ul.nav-menu ul li a {
        padding: 8px 15px 8px 27px
    }

    .storefront-hamburger-menu-active .main-navigation ul li a {
        border-bottom: 1px solid #eee
    }

    .main-navigation.toggled .handheld-navigation, .main-navigation.toggled .menu > ul:not(.nav-menu), .main-navigation.toggled ul[aria-expanded=true] {
        max-height: 1750px;
        background: #fff;
        padding-left: 22px;
        margin-top: 50px
    }

    .storefront-primary-navigation {
        position: relative;
        top: -121px;
        z-index: 999999
    }

    .dgwt-wcas-search-wrapp {
        width: 100%;
        max-width: 700px;
        margin: 0
    }

    img#img-logo {
        padding-top: 7px;
        padding-left: 10px
    }

    button.menu-toggle {
        padding: 21px;
        line-height: 95px;
        position: fixed;
        top: 9px;
        border: none
    }

    button.menu-toggle span:before, button.menu-toggle:after, button.menu-toggle:before {
        background: rgba(67, 69, 75, .99)
    }

    .handheld-navigation img {
        width: 150px;
        margin: 15px 10px
    }

    button.menu-toggle, button.menu-toggle:hover {
        background: 0 0;
        z-index: 11
    }
}

#place_order {
    width: 100%;
    border-radius: 5px;
    line-height: 30px
}

.woof_redraw_zone {
    background: #fff;
    padding: 5%;
    border: 1px solid rgba(221, 221, 221, .49);
    border-radius: 3px;
    margin-top: 20px
}

.radius-left {
    border-radius: 4px 0 0
}

.radius-right {
    border-radius: 0 4px 0 0
}

#payment h3, #resumen h3, div#customer_details h3 {
    border-radius: 4px 4px 0 0
}

#payment h3, div#customer_details h3, th.h3 {
    background: #43454b;
    color: #fff;
    font-size: 1rem;
    padding: 2%;
    margin: 0;
    border: none;
    text-transform: uppercase
}

#mailpoet_subscription_section {
    margin-top: 20px
}

.form-row label {
    margin-top: 10px
}

a.reset_variations, input[name=update_cart] {
    display: none !important
}

a.remove:before {
    text-indent: 7px
}

@media (min-width: 768px) {
    .woocommerce-ordering {
        margin-top: 20px
    }

    .widget_shopping_cart .product_list_widget li {
        padding: 1em 10px 10px 30px
    }

    .site-header-cart .widget_shopping_cart .product_list_widget li a.remove {
        position: absolute
    }

    .left-sidebar .widget-area {
        width: 23.73913%;
        float: left;
        margin-right: 2.347826087%
    }

    .single-product div.product .summary {
        width: 55.941176%
    }

    .single-product div.product .woocommerce-product-gallery {
        margin-right: 2.882353%;
        margin-bottom: 1em
    }

    .cart-collaterals {
        float: right;
        width: 31%
    }

    #place_order {
        width: 48%;
        border-radius: 5px;
        line-height: 30px;
        float: right;
        font-size: 1.3em;
        text-transform: uppercase
    }

    #order_review .shop_table {
        margin-bottom: 12px
    }

    .woocommerce-breadcrumb {
        padding: 1.41575em 138px;
        margin-left: -10em;
        margin-right: -10em;
        margin-bottom: 20px
    }

    table.cart td.product-remove a.remove {
        margin: auto
    }

    .wc-proceed-to-checkout .button.checkout-button {
        font-size: 1.2em
    }

    table.cart td.actions input {
        padding: 10px;
        margin-left: 10px
    }

    .main-navigation > ul li > ul {
        display: block !important
    }

    ul.sub-menu li ul.sub-menu li {
        float: none !important
    }

    .main-navigation ul li:hover > ul li:hover > ul {
        position: relative;
        top: 0;
        left: 0
    }

    .main-navigation ul.menu ul li.menu-item-has-children > a:after, .main-navigation ul.menu ul li.page_item_has_children > a:after, .main-navigation ul.nav-menu ul li.menu-item-has-children > a:after, .main-navigation ul.nav-menu ul li.page_item_has_children > a:after {
        content: none
    }

    .main-navigation ul.nav-menu ul li.borde {
        margin: 5px
    }

    .main-navigation ul.nav-menu ul li.borde > a {
        padding: 0 3em 13px 0;
        font-weight: 700 !important;
        text-transform: uppercase;
        color: #ff8900
    }

    .main-navigation ul li, .main-navigation ul.nav-menu > li:first-child, .secondary-navigation ul li, main-navigation ul.menu > li:first-child {
        position: initial
    }

    #menu-menu-principal > li > ul.sub-menu {
        width: 100%;
        height: 415px;
        overflow: hidden;
        padding: 15px;
        background: #f0f0f0;
        border: 1px solid #ddd
    }

    .main-navigation ul.menu ul.sub-menu, .main-navigation ul.nav-menu ul.children, .site-header-cart .widget_shopping_cart {
        background-color: #f0f0f0;
        border-radius: 0 0 10px 10px
    }

    .main-navigation ul ul li, .secondary-navigation ul ul li {
        overflow: visible
    }

    .main-navigation ul li:hover > ul li > ul {
        left: 0 !important;
        display: block;
        position: relative
    }

    .main-navigation ul > li:hover ul li {
        float: left;
        width: 167px;
        margin: 0
    }

    button.menu-toggle {
        display: none !important
    }

    div#customer_details {
        width: 32%;
        margin-right: 2%;
        margin-top: 15px
    }

    #customer_details p {
        margin: 0
    }

    .form-row label {
        display: block;
        font-size: .8em;
        font-weight: 400
    }

    .page-template-template-fullwidth-php #order_review {
        width: 66%;
        margin-top: 15px
    }

    #resumen {
        width: 48%;
        float: right;
        margin-left: 2%
    }

    div#payment {
        width: 49%;
        margin-right: 1%;
        float: left;
        min-height: 819px
    }

    table.cart .product-quantity .minus, table.cart .product-quantity .plus {
        display: inline-block;
        background: #fff;
        border: 1px solid #ddd;
        height: 2.77rem
    }

    .quantity input[type=button]:hover {
        color: #3d3d3d
    }

    table.cart td.product-quantity .qty {
        padding: 2px;
        width: 55%;
        margin: 0 -6px;
        height: 2.77rem
    }

    table.cart td.actions {
        border: 1px;
        padding: 10px 0;
        background: #fff
    }

    .woocommerce-cart-form {
        width: 68%;
        float: left
    }

    .woocommerce-checkout-review-order-table {
        float: right;
        width: 48%
    }

    .cart-collaterals .cart_totals, .cart-collaterals .shipping_calculator, .page-template-template-fullwidth-php .cart-collaterals .cart_totals, .page-template-template-fullwidth-php .cart-collaterals .shipping_calculator, .page-template-template-fullwidth-php .col2-set .form-row-first, .page-template-template-fullwidth-php .col2-set .form-row-last {
        width: 100%
    }

    dl.variation dt {
        float: left;
        margin-right: 5px
    }

    dl.variation p {
        margin: 0
    }

    dl.variation dd {
        margin: 0 0 .11em
    }

    p.info {
        font-size: .8rem;
        font-style: italic;
        color: #43454b
    }

    table.cart td, table.cart th {
        padding: 1%
    }

    span.quantity {
        font-size: .9em
    }

    .site-header-cart.focus .widget_shopping_cart, .site-header-cart:hover .widget_shopping_cart {
        left: -128px;
        display: block;
        width: 350px;
        background: #fff;
        box-shadow: none;
        color: #43454b;
        border-radius: 0 0 5px 5px;
        padding: 10px 10px 0
    }

    .site-header .site-branding {
        width: 28%
    }

    .mini_cart_item a {
        color: #43454b !important
    }

    .main-navigation ul.menu, .main-navigation ul.nav-menu {
        max-height: none;
        overflow: visible;
        text-align: center;
        width: 760px;
        margin: auto;
        position: relative
    }

    .storefront-primary-navigation {
        border-bottom: 1px solid #ddd;
        background: #fff;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0
    }
}

@media (min-width: 872px) {
    .logo img#letras-logo {
        line-height: 100px;
        margin: 18px 0 0 2%;
        float: left;
        width: 253px
    }
}

.stock.in-stock:before {
    content: "Disponibilidad: ";
    color: #666;
    font-family: inherit
}

.stock.in-stock {
    color: #4CAF50
}

div[data-attribute_name=attribute_pa_talla-calzado] span, div[data-attribute_name=attribute_pa_talla] span {
    width: 44px !important;
    height: 44px !important;
    line-height: 42px !important
}

.tawcvs-swatches .swatch {
    border: 1px solid #ccc
}

a.xoo-wl-btn.button {
    transition: all 2s;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 999999;
    display: none
}

.woocommerce-account-fields, .woocommerce-billing-fields {
    overflow: auto;
    background: #fff;
    padding-bottom: 15px
}

.cart-collaterals h2 {
    background: #666;
    padding: 5px;
    margin: 0;
    border: 1px solid #eee;
    color: #fff;
    font-size: 1.156em
}

table.shop_table.shop_table_responsive tbody th {
    color: #666 !important;
    vertical-align: middle
}

tr.shipping td, tr.shipping th {
    display: block !important;
    width: 170%
}

caption {
    background: #43454b;
    border-radius: 4px 4px 0 0;
    text-transform: uppercase;
    padding: 7px !important;
    font-weight: 400 !important;
    text-align: left
}

table.cart {
    margin-bottom: 1em
}

#post-7 > div > div > div > div > table > tbody > tr.shipping > td:before {
    content: "" !important
}

div#page {
    background: #f6f6f6
}

.block-reassurance-item span.h6 {
    font-size: 12px
}

ul#shipping_method li {
    width: 183px;
    text-align: left
}

table {
    width: 100%;
    background: #fff;
    margin-bottom: 0;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: hidden
}

.wc-proceed-to-checkout {
    padding: .618em;
    background: #fff;
    margin-bottom: 15px
}

table.cart td.product-remove {
    padding: 0;
    border-bottom: 1px solid #eee;
    vertical-align: inherit
}

.select2-container--default .select2-selection--single {
    height: 39px;
    padding: 5px
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px
}

.order-total th, .shipping th, tr.cart-subtotal th {
    background: #fff;
    color: #666 !important;
    vertical-align: middle
}

table thead th {
    padding: 1em
}

table tr th {
    font-weight: 700;
    background-color: #666;
    color: #fff !important
}

.cart_totals td, table tr th, table tr.cart_item td {
    border-bottom: 1px solid #eee;
    font-size: .9em
}

table tr th, table tr.cart_item td {
    font-size: .775em;
    color: #3d3d3d
}

.cart_item td a {
    font-weight: 400 !important
}

ul.order_details {
    margin: 0 0 20px
}

ul.order_details li strong {
    font-size: 1.2em
}

h2.woocommerce-loop-product__title, h3.woocommerce-products-carousel-all-in-one-title a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block
}

div#content {
    background: #f6f6f6
}

.cart_totals.calculated_shipping, .owl-carousel .owl-stage-outer, .single-product div.product .images, .single-product div.product .summary, .single-product div.product .woocommerce-product-gallery, .woocommerce-additional-fields, .woocommerce-tabs, ul.order_details {
    background: #fff;
    border: 1px solid rgba(221, 221, 221, .61)
}

.woocommerce-tabs {
    padding: 0
}

.summary.entry-summary, .woocommerce-additional-fields__field-wrapper {
    padding: 15px
}

ul.order_details li {
    padding: 1em 1.5em
}

ul.order_details li:first-child {
    padding: .5em 1.5em
}

.order_details + p {
    background: #fff;
    padding: 2%;
    width: 28.5%;
    float: left
}

.related > h2:first-child, .upsells > h2:first-child, .woocommerce-tabs .panel h2:first-of-type {
    font-size: 1.4em;
    margin-bottom: .2em;
    border: 1px solid rgba(221, 221, 221, .61)
}

small.includes_tax {
    display: none !important
}

#additional_checkout_field, .create-account, .woocommerce-billing-fields__field-wrapper {
    background: #fff;
    padding: 4px 15px;
    clear: both
}

ul.order_details {
    background: #fff;
    width: 70%;
    float: left;
    margin-right: 15px
}

form#redsys_payment_form {
    width: 28.5%;
    float: left;
    background: #fff
}

a.button.cancel {
    background: #fff;
    border: 2px solid #ddd;
    color: #666
}

a.button.cancel, input#submit_redsys_payment_form {
    width: 96%;
    margin: 2%;
    overflow: auto;
    text-align: center;
    border-radius: 5px;
    text-transform: uppercase
}

#woof_results_by_ajax + .woocommerce-pagination, #woof_results_by_ajax + .woocommerce-result-count + .woocommerce-pagination, #woof_results_by_ajax > div > div:nth-child(1) > form {
    display: none
}

.woof_childs_list_opener span.woof_is_closed {
    background: url(assets/img/plus2.png)
}

a.woof_childs_list_opener {
    float: right
}

.woof_label_count {
    background: #e67000
}

#blog article, #blog article header {
    display: flex;
    flex-direction: column
}

#blog aside, .posted-on {
    order: 2
}
